<div class="card">
  <h2>Create a new Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <div class="titles">
      <label for="title">
        Title <br>
        <input class="input-custom" type="text" id="name" [formControlName]="'name'">
      </label>
    </div>

    <div class="titles">
      <label for="theme">
        Theme <br>
        <select class="input-custom" id="theme" [formControlName]="'theme'">
          <option value="">--Please choose a theme--</option>
          <option *ngFor=" let mov of THEME_LIST" [value]="mov">{{mov}}</option>
        </select>
      </label>
    </div>


    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Create</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}}-->
