<div class="card">
  <h2>Create a new Question</h2>
  <form class="question-form" [formGroup]="questionForm">
    <div class="titles">
      <label for="title">
        Title <br>
        <input class="input-custom" type="text" id="name" [formControlName]="'label'">
      </label>
    </div>
    <div>
      <button class="button-card" (click)="addAnswer()">Add Answer</button>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div class="answer-form" [formGroupName]="i">
            <label>
              Answer
              <input type="text" [formControlName]="'value'">
              <br>
              Correct
              <input type="checkbox" [formControlName]="'isCorrect'">
            </label>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="button-card"  (click)="addQuestion()">Create</button>
  </form>
</div>
